<h1>Best Artists of the year (dead or alive)</h1>

<%= link_to 'Add Artist', new_artist_path %>
<%#= link_to 'View Artists', artist_path(@artist) %>

<% @artists.each do |artist| %>
<p>
    Name: <%= artist.name %> <br /> | <%= link_to 'View Artist', artist_path(artist) %>
    <%= link_to "[Delete]", artist_path(artist), method: :delete, data: { confirm: "Are you sure?" } %>

 </p>
<% end %>
