<div class="container col-md-4" id="songz">
  <% @artist.songs.each do |song| %>
  <div class="song-block" id="songz">
    <h4 class="song-title">Song: <%= song.title %></h3>
    <h4><p>Genre: <%= song.genre %></h3>
      <!-- <%= link_to "[Delete song]", artist_song_path(@artist.id, song.id), id: "remove-song-#{song.id}", method: :delete, data: {confirm: "Are you really sure?"} %> -->
      <a href="#" class="delete-song" song-id="<%= song.id %>">[New delete link]</a>
    </p>
  </div>
  <% end %>
</div>
